<h1>Your inbox</h1>


<h2>Sent Messages</h2>
  <% @sent_messages.each do |sent_message| %>
  To: <%= link_to sent_message.receiver.username, user_closet_path(sent_message.receiver) %>
  --- <%= sent_message.content %>
  <br>
  <% end %>

<h2>Received Messages</h2>
  <% @received_messages.each do |received_message| %>
  From: <%= link_to received_message.sender.username, user_closet_path(received_message.sender) %>
  --- <%= received_message.content %>
  <% end %>
