<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  Hey <%= @user.username %>, your item <%= link_to @listing.title, @link %> sold! Collect your money now!
</body>
</html>
