<div class="row">
  <h1>Join Clothography!</h1>
</div>

<div class="row">
  <div class="panel large-9 columns button success">
If you're new here and unfamiliar with our passwordless login process, <%= link_to "check it out." , faq_path %>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= render 'form'%>
  </div>
</div>



