<h1>New user</h1>

<%= render 'form' %>

<div id="bottom-directions" class="sign-up-directions">

We'll send you an email with a special login link, click it and you're all set!
<br>
No password to remember (even though we both know you  would've used '12345' anyway).<br> If this is too new age for you you're welcome to <%= link_to "login with Twitter", '/auth/twitter', id: "twitter-login-link" %>
<i class="fi-social-twitter"></i>
</div>
