<div class="row"><h1>Font Icon Credit:</h1></div>
<div class="row">All from <a href="http://thenounproject.com/">The Noun Project Collection</a></div>

<div class="row">
<ul>
  <li>“Tree” symbol by Joe Smith</li>
  <li>"Shopping-Cart" by Roman J. Sokolov</li>
  <li>"Hanger" by Chris Kerr</li>
  <li>"Exit" by Marat S.</li>
  <li>"Bags" by Wilson Joseph</li>
  <li>"Mailbox" by Anton Gajdosik</li>
  <li>"Add" by Leonides Delgado</li>
  <li>"Enter" by Richard Schumann</li>
  <li>"Add-User" by Mister Pixel</li>
  <li>"Twitter" by Luboš Volkov</li>
</ul>
</div>
