<div id="uploads_container">
<br>
  <h3 class="button">The first photo will be your display photo</h3>
    <br>
    <%= f.fields_for :asset do |asset_photo| %>
      <%= asset_photo.file_field :photo1, class: "upload-field" %>
      <%= asset_photo.file_field :photo2, class: "upload-field" %>
      <%= asset_photo.file_field :photo3, class: "upload-field" %>
    <% end %>

</div>
