/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require chosen
 *= require foundation_and_overrides
 *= require_self
 */


 body { font-family: 'Lato', "Helvetica",sans-serif;
          background-color:#F0F0F5

        }


 a {  }

/*LAYOUT*/
.main-navbar-item {
  display: inline-block;
  padding: 15px;
  font-size: 23px;
}

#notice {
  width: 50%;
  text-align: center;
  margin: 1rem auto;
  font-size: 20px;

}

#login-splash-container{
   background-image: url('https://s3.amazonaws.com/ooomf-com-files/iqlYdAAYQiaOCoKnT6jE_kabia.jpg');
   height: 100%;
   background-size: cover;
   background-position-y: -192px;
   margin: 10px auto;
 }

 #sign-up {
   margin: 25px auto;
   width: 500px;
   background: rgba(238,238,238,0.7);
   padding-top: 71px;
margin: 0 auto;
 }

/*SIGN UP*/
.sign-up-directions {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  font-size: 21px;
margin-bottom: 1.25rem;
font-weight: bold;
}

#sign-up-form {
  margin: 2rem auto;
  width: 300px;
}

#sign-up-form input[type="submit"]{
  text-align: center;
}

#bottom-directions {
color: rgba(26, 23, 23, 0.55);
font-size: 18px;
line-height: 30px;
padding: 10px 5px;
background-color: rgba(248, 248, 248, 0.34);
}

select#login-username-selection {
  font-size: 18px
}
/*LISTINGS SEARCH DISPLAY*/

#search {
  margin: 10px 0;
  padding: 30px;
}


.price-range-search {
  width: 30px;
}
#orig-price-range {
  display:none;
}
#price-range-slider {
  width: 30%;
  display: inline-block;
  margin: 0 15px;
}

.search-field, #q_title_or_description_cont, #q_price_gteq, #q_price_lteq, #q_size_name_eq {
  display: inline-block;
}

#q_size_name_eq {
  width: 100px;
}
#q_title_or_description_cont {
  width: 40%;
  margin: 0 15px
}
.search-label {
  display: inline-block;
}

.category-search-field {
  height: 35px
}

#search-restrictions {
  float: right;
  margin: -25px 15px 35px 15px;
  padding: 5px;
}
#search-results {
  margin: 0 3%;
}

#search-and-reset {
  margin: 0 0 0 780px;
  display: inline-block;
}
#see_more_options {
  margin: 11px 0;
}

#more_options {
  display: none;
}
.listing {
  display:inline-block;
  width: 250px;
  margin-right: 15px;
}

.listing img {
  text-align: center
}

.listing-basic-info {
  margin: 0;
  height: 60px;
  padding: 6px 0 6px 6px
}

.listing-price-info {
  margin: 0 0 23px 0;
  height: 35px;
  padding: 9px 0 0px 6px;
}

a.chosen-single {
  height: 35px
}
.listing img {
  width: 200px;
}

#q_price_gteq, #q_price_lteq {
  width: 50px;
}

/*USER PROFILE + CLOSET */

#inbox-notification{
  margin: -10px 0 15px 0;
}
#user-info {
  display:inline-block;
}
#user_closet {
  float: right;
  display: inline-block;
  height: 500px;
  width: 500px;
}

.user-profile-photo {
  width: 150px;
  border-radius: 30px;
}

.each-available-listing {
  width: 300px;
  display: inline-block;
}

.message-panel {
  width: 400px;
}

#all-messages{
  margin: 20px 0 0 0;
  height: 600px;
  overflow: scroll
}
#message_content {
  width: 400px;
  margin: -60px 0 0 60px
}

.inbox-msg-show img {
  width: 50px;
}
#message-input-box {
  margin: -400px 0 0 360px
}
#message-input-submit{
  margin: 10px 0 0 60px
}
.message-panel img {
  width: 50px
}
#sent-messages, #received-messages {
  display: inline-block;
  margin: 10px 40px 0 0;
  height: 600px;
  overflow: scroll
}
.hide-me {
  display: none;
}
#msg-info{
  display: inline;
}
#sold-listings, #available-listings{
  display: none;
}

.listing-header {
  display: inline-block
}

#whole-closet {
  margin: 10px 75px;
}
/*LISTING UPLOAD*/

.gender-select {
  display: inline-block;
  width: 150px;
  padding: 30px
}

#womens-categories, #mens-categories {
  display:none;
}
.selected-gender, .selected-category, .selected-condition, .selected-size {
  opacity: .7;
}


#listing-form-category, #listing-form-product-info,
#jean-sizes, #bottom-sizes, #standard-sizes {
  display: none;
}

.displayed-category{
  display: block !important;
}
.displayed-sizes {
  display: block !important;
}
#listing_asset_attributes_photo1, #listing_asset_attributes_photo2, #listing_asset_attributes_photo3 {
  display: inline-block;
  width: 300px
}

.category-select {
width: 106px;
height: 121px;
display: inline-block;
padding: 15px;
}
.condition-select {
  display: inline-block;
  padding: 15px;
  height: 60px;
}

#size-box {
  width: 500px;
  border: solid 1px black;
}

.size-select {
  display: inline-block;
}

#listing_description {
  width: 600px;
  height: 130px;
}

#brands {
  margin:0 0 50px 0;
}

.chosen_container {
  width: 300px;
}

#condition-options {
  height: 100px;
}

.field, #brands {
display: inline-block;
}

#listing_title {
  width: 500px;
}
/*CHECKOUT CART*/
.future-purchase {
  border: black solid 1px;
  width: 400px;
  height: 150px
}

.future-purchase img {
  width: 100px;
}

#checkout-cart {
  display: inline-block;
}

#checkout-buy {
  float:right;
  display: inline-block;
  border: solid 3px green;
  width: 500px;
  height: 800px;
}

.moveme {
  width: 50px;
  height: 50px;
  float: left;
}


/*INDIVIDUAL PRODUCT DISPLAY*/
#user-closet-info img{
  width: 50px;
  height: 50px
}

#message-user-from-listing-button, #message-user-from-profile-button {

  display: inline-block;
  font-size: 23px;
}

#message-user-from-listing-popout, #message-user-from-profile-popout, #message-user-from-closet-popout, #make-offer-display {
  display: none;
}

.display-me {
  display: block !important;
}
