/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*BODY*/
 body { font-family: Helvetica;
         color:green }

 a { color:pink; }

/*LAYOUT*/
.main-navbar-item {
  display: inline-block;
  float: right;
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  font-size: 23px;
}

/*PRODUCT SELECT*/

.gender-select {
  background-color: black;
  display: inline-block;
  width: 80px;
  height: 20px;
  padding: 25px
}

.selected-gender, .selected-category, .selected-condition, .selected-size {
  opacity: .7;
}

#listing-form-category, #listing-form-product-info, .size-display  {
  display: none;
}

.category-select {
  width: 50px;
  height: 50px;
  background-color: black;
  display: inline-block;
  margin: 10px;
  padding: 15px;
}
.condition-select {
  display: inline-block;
  background-color: black;
  padding: 15px;
  height: 20px;
}

#size-box {
  width: 500px;
  height: 250px;
  border: solid 1px black;
}

.size-select {
  display: inline-block;
}
