/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require_tree .
 *= require_self
 *= require chosen
 */


 /*BODY*/
 body { font-family: Helvetica;
         color:green }


 a { color:pink; }

/*LAYOUT*/
.main-navbar-item {
  display: inline-block;
  float: right;
  background-color: cornflowerblue;
  color: white;
  padding: 15px;
  font-size: 23px;
}

/**= require s3_direct_upload_progress_bars*/

/*LISTINGS SEARCH DISPLAY*/

#search {
  margin: 10px 0;
  padding: 30px;
  /*background-color: blue*/
}

#search-bar {
  height: 30px;
  width: 400px;
}

/*USER PROFILE*/

#user-info {
  display:inline-block;
}
#user_closet {
  float: right;
  display: inline-block;
  background-color: orange;
  height: 500px;
  width: 500px;
}

.user-profile-photo {
  width: 150px;
  border-radius: 30px;
}

/*PRODUCT SELECT*/

.gender-select {
  background-color: black;
  display: inline-block;
  width: 80px;
  height: 20px;
  padding: 25px
}

#womens-categories, #mens-categories {
  display:none;
}
.selected-gender, .selected-category, .selected-condition, .selected-size {
  opacity: .7;
}


#listing-form-category, #listing-form-product-info,
#jean-sizes, #bottom-sizes, #standard-sizes {
  display: none;
}

.displayed-category{
  display: block !important;
}
.displayed-sizes {
  display: block !important;
}

.category-select {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: 10px;
  padding: 15px;
}
.condition-select {
  display: inline-block;
  background-color: black;
  padding: 15px;
  height: 20px;
}

#size-box {
  width: 500px;
  height: 250px;
  border: solid 1px black;
}

.size-select {
  display: inline-block;
}

#brands {
  margin:0 0 50px 0;
}

.chosen_container {
  width: 300px;
}


/*CHECKOUT CART*/
.future-purchase {
  border: black solid 1px;
  width: 400px;
  height: 150px
}

.future-purchase img {
  width: 100px;
}

#checkout-cart {
  display: inline-block;
}

#checkout-buy {
  float:right;
  display: inline-block;
  border: solid 3px green;
  width: 500px;
  height: 800px;
}

.moveme {
  background-color: orange;
  width: 50px;
  height: 50px;
  float: left;
}
