<%= form_for [purchase.seller, purchase], multipart: true, url: {controller: 'purchases', action: 'checkout', id: purchase.id} do |f| %>
  <article>
    <label class="amount">
      <span>Amount: <%=amount%></span>

    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>">
  </script>
<% end %>
