<!DOCTYPE html>
<html>
<head>
  <title>Clothography</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav id='main-navbar'>
  <a href=" <#%= user_path(current_user)%> "><li class='main-navbar-item'>Buy</li></a>
  <a href=" <#%= user_path(current_user)%> "><li class='main-navbar-item'>Sell</li></a>
  <a href=" <#%= user_path(current_user)%> "><li class='main-navbar-item'>Profile</li></a>
  <a href=" <#%= message_path(current_user)%> "><li class='main-navbar-item'>Messages</li></a>
  <#% unless current_user %>
  
  <#% end %>
</nav>
<%= yield %>

</body>
</html>
